<section #main_post class="post">
    <div class="top_area">
        <p class="post_type">{{post_type.toUpperCase()}}</p>
        <a class="add" *ngIf = "post_type == 'section'" (click)="add_section()">
            <img src='../../../assets/icon/add.svg'/>
        </a>
    </div>
    <!--1. Main Post Area-->
    <ng-container *ngIf = "post_type == 'post'">
        <form class="form" name = "post_form" (ngSubmit) = "submit_post()">
            <div class="field">
                <span>class</span>
                <select class = 'class_name select' name = "blogclass_id" #blogclass_id (change) = "set_form(blogclass_id)">
                    <option *ngFor = 'let class of classes' [value]="class.id" [selected]="class.id == ori_post.blogclass_id">
                        {{class.name}}
                    </option>
                </select>
            </div>
            <div class="field">
                <span>Permission</span>
                <select class = 'class_name select' name = "permission" #permission (change) = "set_form(permission)">
                    <option *ngFor = 'let permission of permissions; let index = index' [value]="index + 1" [selected]="index + 1 == ori_post.permission">
                        {{permission}}
                    </option>
                </select>
            </div>
            <div class="field">
                <span>Title</span>
                <input [value]="ori_post.title" name = "title" #title type = "text" (change) = "set_form(title)"/>
            </div>
            <div class="field">
                <span>Description</span>
                <input [value]="ori_post.description" name = "description" #description type = "text" (change) = "set_form(description)"/>
            </div>
            <div class="field">
                <span>Music sheet</span>
                <input  class="file" name = "music_sheet" #music_sheet id='music_sheet' type = "file" (change) = "set_form(music_sheet)" hidden/>
                <label class="upload" for="music_sheet">{{ori_music_sheet}}</label>
            </div>
            <div class="field">
                <span>Photo</span>
                <input class="file" name = "photo" #photo id='post_photo' type = "file" (change) = "set_form(photo)" hidden/>
                <label class = 'upload' for = 'post_photo'>{{ori_photo}}</label>
            </div>
            <div class="field">
                <button class="submit" type="submit">Update</button>
                <button class="submit" (click)="post_type = 'section'; blogpost_id =  ori_post.id;">UnChange</button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf = "post_type == 'section'">
        <ng-container *ngFor = "let each_section of ori_sections; let index = index">
            <form class="section edit">
                <div class="field">
                    <span>order</span>
                    <input [value]="each_section.order" type = "text" (change) = "set_section('order', $event.target, index)"/>
                </div>
                <div class="field">
                    <span>section type</span>
                    <select class="section_type select" (change) = "set_section('post_type', $event.target, index);" >
                        <option *ngFor = 'let type of section_types' [selected]="each_section.post_type == type">{{type}}</option> 
                    </select>
                </div>
                <div class="text_field" *ngIf = "each_section.post_type == 'text'">
                    <span>text</span>
                    <textarea [value]="each_section.text" rows = "20" type = "text" (change) = "set_section('text', $event.target, index)"></textarea>
                </div>
                <div class="field" *ngIf = "each_section.post_type == 'photo'">
                    <span>photo</span>
                    <input id='section_photo' type = "file" (change) = "set_section('photo', $event.target, index);" hidden/>
                    <label class = 'upload' for='section_photo'>{{each_section.photo ? 
                        each_section.photo.name 
                        ? each_section.photo.name : each_section.photo.split('/')[3]
                        : 'Upload'}}
                    </label>
                </div>
                <div class="field" *ngIf = "each_section.post_type == 'video'">
                    <span>video</span>
                    <input [value] = "each_section.video" type = "text" (change) = "set_section('video', $event.target, index)"/>
                </div>
            </form>
            <!--<form class="section" *ngIf = "!each_section.edit">
                <div [class]= "'display ' + post_sections[index]['post_type']" >
                    <p *ngIf = "post_sections[index]['post_type'] == 'text'">{{post_sections[index]['text']}}</p>
                    <img *ngIf = "post_sections[index]['post_type'] == 'photo'" [src] = "post_sections[index]['photo']"/>
                    <iframe *ngIf = "post_sections[index]['post_type'] == 'video'" [src] = "post_sections[index]['video']"></iframe>
                </div>
            </form>-->
        </ng-container>
        <div class="end">
            <button class="finish" (click)="submit_section()">Update</button>
        </div>
    </ng-container>
</section>
