<section class="main col-8 col-m-10 col-s-10">
    <p class = 'text'>email</p>
    <input #email type = 'text'/>
    
    <p class = 'text'>new password</p>
    <input #newpw type = 'password'/>

    <p class="text">confirm password</p>
    <input #confirmpw type = 'password'/>
    <p *ngIf = "!valid">password is not match</p>

    <div class="button">
        <button [class]="is_active ? 'active': ''" 
            (click) = "submit(email.value, newpw.value, confirmpw.value); is_active = true;"
        >
           Reset Password
        </button>
    </div> 
</section>
<section class = 'back' [class] = "set_success ? 'active': ''">
    <div class = 'pop_up col-6 col-m-6 col-s-9' [class] = "set_success ? 'active': ''">
        <div class = 'text'>
            <p>Reset Your password successfully.</p>
        </div>
    </div>
</section>
