<div class='post col-10 col-m-11 col-s-11' *ngIf='post'>
    <div class='header'>
        <p class='title'>{{post.title}}</p>
        <p class='description'>{{post.description}}</p>
    </div>
    <div class = 'paper'>
        <div class='pdf col-5 col-m-12 col-s-12' *ngIf = "post.music_sheet">
            <pdf-viewer 
                [src]="host + post.music_sheet" 
                [render-text]="true" 
                [original-size] = "false"
            ></pdf-viewer>
            <a class="download" [href] = "post.music_sheet" target="_blank">
                <img src='../../../assets/icon/down-arrow.svg'/>
            </a>
        </div>
        <div class='content col-6 col-m-12 col-s-12'>
            <ng-container *ngFor = 'let section of sections'>
                <div class='section text' *ngIf="section.post_type == 'text'">
                    <p>{{section.text}}</p>
                </div> 
                <div class='section photo col-12' *ngIf="section.post_type == 'photo'">
                    <img class='img' [src]= "host + section.photo"/>
                </div>
                <div class='section video' *ngIf="section.post_type == 'video'">
                        <iframe [src]= 'video_URL(section.video)'></iframe>
                </div>
            </ng-container>
        </div>
    </div>
    
</div>
