<section class="main col-8 col-m-10 col-s-10">
    <p class="text">username</p>
    <input #username type = 'text'/>
    <p class="text">password</p>
    <input #password type = 'password'/>
    <div class='question'>
        <a class = 'account' routerLink = '/account'>Create account</a>
        <a class = 'password' routerLink = '/account/forget_password'>Forget password</a>
    </div>
    <div class="button">
        <button [class]="is_active ? 'active': ''" (click) = "submit(username.value, password.value); is_active = true;">
            submit
        </button>
    </div> 
</section>