<nav class="main">
    <a class="logo left" routerLink = '/blog'>
        <img src = '../../assets/icon/apple.svg'/>
        <span>Music</span>
    </a>
    <a class = 'manage right' routerLink = '/cart'>
        <img src="../../assets/icon/shopping-cart.png"/>
        <div class = 'number'>{{order_num}}</div>
    </a>
    <a class="right" (click)="is_drop = !is_drop">
        <img src="../../assets/icon/profile.svg"/>
    </a>
</nav>
<div *ngIf = "is_drop" class = "select col-s-5 col-3" [ngClass] = "{'dropdown': true, 'active': is_drop}">
    <a class="login" routerLink = '/login'>
        <p>Log In</p>
        <img src="../../assets/icon/enter.svg"/>
    </a>
    <a class="login" (click) = "logout()">
        <p>Log Out</p>
        <img src="../../assets/icon/logout.svg"/>
    </a>
    <a [routerLink] = "page.url" *ngFor = 'let page of pages'>
        {{page.name}}
    </a>
</div>

