<nav class="main">
    <a class="logo" routerLink = '/blog'>
        <img src = '../../assets/icon/apple.svg'/>
        <span>Music</span>
    </a>
    <a class="manage" (click)="is_drop = !is_drop">
        <img src="../../assets/icon/profile.svg"/>
    </a>
</nav>
<div class = "select" [ngClass] = "{'dropdown': true, 'active': is_drop}">
    <a class="login" routerLink = '/login'>
        <p>Log In</p>
        <img src="../../assets/icon/enter.svg"/>
    </a>
    <a routerLink = '/manage'>Personal page</a>
</div>

