<section class="main col-6 col-m-10 col-s-11">
    <div class = 'head'>
        <a routerLink = '/manage/add'>
            <img src='../../../assets/icon/add.svg'/>
        </a>
    </div>
    <div class = 'posts'>
        <p *ngIf = "is_empty"> You can add your own post here. </p>
        <ng-container *ngFor = 'let post of posts'>
            <a class = 'post' [routerLink] = "'/manage/post/' + post.id">
                <div class = 'img_frame col-5 col-s-7'>
                    <img class = 'img' [src] = "post.photo"/>
                </div>
                <div class='content col-7 col-s-5'>
                    <p class = 'title'>{{post.title}}</p>
                    <p class = 'description'>{{post.description}}</p>
                    <p class = 'created_time'>{{post.created_time}}</p>
                </div>
            </a>
            <div class="manage">
                <a class="edit" [routerLink] = "'/manage/modify/' + post.id">
                    <img src='../../../assets/icon/edit.svg'/>
                </a>
                <a class="delete" (click) = "confirm_del(post.id)">
                    <img src='../../../assets/icon/trash.svg'/>
                </a>
            </div>
        </ng-container>
    </div>
</section>
<div class="hide" *ngIf = "is_pop">
</div>
<div class="check_box" *ngIf = "is_pop">
    <div class="question">
        <img (click)="del_post(false)" class='cancel' src='../../assets/icon/cancel.svg'/>
        <p>Are you sure you want to delete post {{post_id}} ? </p>
        <div class="choice">
            <a (click) = "del_post(true)">Yes</a>
            <a (click) = "del_post(false)">No</a>
        </div>
    </div>
</div>