<section class="main">
    <div class = 'head'>
        <a routerLink = '/manage/add'>Add new post</a>
    </div>
    <div class = 'posts' *ngFor = 'let post of posts.data'>
        <a class = 'post' [routerLink] = "'/manage/post/' + post.blogpost_id">
            <div class = 'img_frame'>
                <img class = 'img' [src] = 'post.photo'/>
            </div>
            <div class='content'>
                <p class = 'title'>{{post.title}}</p>
                <p class = 'description'>{{post.description}}</p>
                <p class = 'created_time'>{{post.created_time}}</p>
            </div>
        </a>
        <div class="manage">
            <a class="edit">edit</a>
            <a class="delete" (click) = "confirm_del(post.blogpost_id)">delete</a>
        </div>
    </div>
</section>
<div class="pop_up" *ngIf = "is_pop">
    <p>Are you sure you want to delete post {{post_id}} ? </p>
    <div>
        <a (click) = "del_post(true)">Yes</a>
        <a (click) = "del_post(false)">No</a>
    </div>
</div>