<section class="main">
    <div class = "classes">
        <a  *ngFor = 'let class of classes; let index = index;' 
            class = 'class' [ngClass] = "{'active' : selected_class.includes(index)}" 
            (click) = "select_class(index)">
            {{class.name}}
        </a>
    </div>
    <div class = 'posts' *ngFor = 'let post of posts.data'>
        <a class = 'post' [routerLink] = "'/blog/post/' + post.blogpost_id">
            <div class = 'img_frame'>
                <img class = 'img' [src] = 'post.photo'/>
            </div>
            <div class='content'>
                <p class = 'title'>{{post.title}}</p>
                <p class = 'description'>{{post.description}}</p>
                <p class = 'created_time'>{{post.created_time}}</p>
            </div>
        </a>
    </div>
</section>

