.main{
    margin: 70px auto 0 auto;
    padding: 10px 10px;
    
    input{
        margin: 10px auto;
        outline-width: none;
        width: 90%;
        height: 24px;
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid #bbb7b7;
    }
    .button {
        display: flex;
        padding: 30px 0;
        button{
            &:hover, &.active{
                background-color: #5c5a5a;
                color: #fff;
            }
            font-size: 16px;
            width : 30%;
            border : none;
            padding: 15px;
            margin : 0 auto;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.back{
    display: none;
    background-color: #bbb7b7;
    position: absolute;
    left : 0;
    top : 0;
    opacity: 0;
    transition: opacity 1s ease-out;
    &.active{
        opacity: 1;
        display: flex;
    }
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    .pop_up{
        display: none;
        opacity: 0;
        transition: opacity 1s ease-out;
        &.active {
            opacity: 1;
            display: flex;
        }
        align-items: center;
        justify-content: center;
        height: 40vh;
        background-color: #fff;
        z-index: 2;
        box-shadow: 1px 1px 5px -2px #646262;
        .text {
            text-align: center;
            p {
                margin : 15px auto;
            }
        }
    }
    
}