<section class = 'main col-m-10 col-s-10' >
    <p class="text">Please type your email to reset password</p>
    <input #email type = 'email'/>
    <div class="button">
    <button [class]="is_active ? 'active': ''" 
        (click) = "submit(email.value); is_active = true;"
    >
        Submit
    </button>
    </div> 
</section>
<section class = 'back' [class] = "is_pop ? 'active': ''">
    <div class = 'pop_up col-6 col-m-6 col-s-9' [class] = "is_pop ? 'active': ''">
        <div class = 'text'>
            <p>Email has been sent to your email.</p>
            <p>Please check. Thanks.</p>
        </div>
    </div>
</section>